# Default ignored files
/../../proyectoLeagueOfLegends./.idea/shelf/
/../../proyectoLeagueOfLegends./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../proyectoLeagueOfLegends./.idea/httpRequests/
# Datasource local storage ignored files
/../../proyectoLeagueOfLegends./.idea/dataSources/
/../../proyectoLeagueOfLegends./.idea/dataSources.local.xml
